<nav>
  <h1>{{username}}</h1>
  <button class="btn" id="newpost">New Post</button>
</nav>
{{#each posts as |post|}}

<div class="">
  <div class="col-md-6">
    <h2>{{post.poster_username}}: {{post.title}}</h2>
  </div>
  <div class="">
    <h3>{{post.body}}</h3>
  </div>

  {{#if (isAuthor @root.username post.poster_username)}}
  <button class="edit-post" data-id="{{post.id}}">Edit</button>
  <button class="delete-post" data-id="{{post.id}}">Delete</button>
  {{/if}}
  <textarea id="comment-box" rows="5" cols="33"></textarea>
  <button class="post-comment" data-id="{{post.id}}">Comment</button>
</div>

{{/each}}
<script src="/js/home.js"></script>
