<section class="home-section">
  <div id="username-new-post">
    <h1 id="session-username">Your Feed: ({{username}})</h1>
    <button class="btn" id="newpost">New Post</button>
  </div>
  {{#each posts as |post|}}

  <div class="post">
    <div class="username-title">
        <p class="post-username">{{post.poster_username}}: </p>
        <p class="post-title">{{post.title}}</p>
        {{#if (isAuthor @root.username post.poster_username)}}
        <div class="edit-delete-post">
          <button class="edit-post" data-id="{{post.id}}">Edit</button>
          <button class="delete-post" data-id="{{post.id}}">Delete</button>
        </div>
        {{/if}}
    </div>
    <div class="">
      <p class="post-body">{{post.body}}</p>
    </div>    
    <div>
      <button class="render-comments" data-id="{{post.id}}" name="commentbtn{{post.id}}" data-state="show">See Comments</button>
      <div data-id="{{post.id}}" name="thread{{post.id}}"></div>
    </div>
    <div class="comment-box">
      <textarea rows="5" cols="33" placeholder="Write comment..."></textarea>
      <button data-id="{{post.id}}">Leave Comment</button>
    </div>
  </div>
  {{/each}}
</section>
<script src="/js/home.js"></script>
<script src="/js/commenting.js"></script>

